@import 'https://fonts.googleapis.com/css?family=Montserrat';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.options-screen, .game-screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

/*OPTIONS SCREEN STYLES*/

p {
  margin: .5em 0;
  font-size: 1rem;
}

/*Remove up/down buttons from # inputs*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.options-screen {
  background: grey;
  text-align: center;
  color: rgba(255, 255, 255, .75);
}

h1 {
  background: gold;
  color: black;
  font-weight: normal;
  margin: 0 0 .75em 0;
  font-size: 2em;
  line-height: 100vh;
  transition: line-height .5s ease-in;
}

h3 {
  font-weight: normal;
  display: inline-block;
}

input {
  background: none;
  outline: none;
  border: 1px solid black;
  height: 2em;
  width: 2em;
  margin: 0 .6em;
  text-align: center;
  font-size: 1.17em;
}

.color-picker div {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: none;
}

.dim {
  opacity: .25;
}

.color-picker {
  width: 10em;
}

.player-details input {
  width: 8em;
  margin-bottom: .1em;
}

.player-details div {
  display: inline-block;
  margin: 0 .3em;
}

.options-screen button {
  font-size: 1em;
  width: 8em;
}

button:hover {
  background: rgba(255, 255, 255, .25);
}

.invalid {
  border: 1px solid orangered;
}

/*GAME SCREEN STYLES*/

.game-screen {
  left: 100%;
  background: grey;
  text-align: center;
  transition: left .5s ease-in;
}

header {
  position: relative;
  background: gold;
  height: 6em;
  line-height: 6em;
  margin-bottom: 2.5em;
  text-align: left;
  padding: 0 3em;
}

.centering {
  display: inline-block;
  width: 74%;
  border-right: 1px solid gold;
}

main {
  display: inline-block;
  position: relative;
  border: 2px solid black;
}

aside {
  display: inline-block;
  width: 24%;
  padding-right: .5em;
}

.name {
  width: 75%;
  text-align: left;
  padding-left: .5em;
  line-height: 2.5em;
  font-size: 1.3em;
  display: inline-block;
  vertical-align: bottom;
}

.game-board {
  font-size: 0;
}

.game-wrapper {
  display: inline-block;
}

.row {
  background: rgba(0, 0, 0, .8);
}

.board-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  color: white;
  padding-top: 15%;
  font-size: 1.5em;
}

.game-winner {
  display: none;
  font-size: 1.4rem;
}

.game-winner::after {
  content: ' Wins!';
}

.reset {
  display: none;
}

.square, .hover-square {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border: 2px solid black;
  background: grey;
  border-radius: 100%;
}

.hover-square {
  border: none;
}

.hover-row {
  border-bottom: 2px solid black;
}

.current-player {
  display: inline-block;
  font-size: 1.5em;
}

.current-player::before {
  content: 'Current Player: ';
}

.turn-timer {
  display: inline-block;
  font-size: 1.5em;
  position: absolute;
  right: 10%;
}

.round-winner {
  font-size: 1.25rem;
}

.round-winner::before {
  content: 'Round won by: ';
}

.score {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  display: inline-block;
  margin-left: .5em;
  line-height: 2.5em;
  font-size: 1.2em;
}

.score-card {
  margin-bottom: 1em;
}

.score-card div {
  border: none;
}

button {
  background: none;
  border: 1px solid black;
  font-family: inherit;
  height: 2em;
  margin-top: 2em;
}

.board-overlay button {
  border: 1px solid white;
  color: white;
}

/*PLAYER COLOR OPTIONS*/

.mistyrose {
  background: mistyrose;
  border: 5px solid rosybrown;
}

.chartruese {
  background: chartreuse;
  border: 5px solid yellowgreen
}

.salmon {
  background: salmon;
  border: 5px solid coral;
}

.aquamarine {
  background: aquamarine;
  border: 5px solid mediumaquamarine;
}

.goldenrod {
  background: goldenrod;
  border: 5px solid darkgoldenrod;
}
