* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.options-screen, .game-screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

.options-screen {
  background: mediumaquamarine;
}

.game-screen {
  left: 25%;
  background: palegoldenrod;
}

.game-board {
  display: inline-block;
  position: relative;
}

.board-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

.game-winner {
  display: none;
}

.game-winner::after {
  content: ' Wins!';
}

.reset {
  display: none;
}

.square {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.current-player::before {
  content: 'Current Player: ';
}

.round-winner::before {
  content: 'Round won by: ';
}

.color {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

.score::before {
  content: 'Score: ';
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.mistyrose {
  background: mistyrose;
}
